name: MLOps CI

on:
  workflow_dispatch:
    inputs:
      run_all:
        description: "Run all jobs"
        required: false
        default: true
      run_data_processing:
        description: "Run data processing job"
        required: false
        default: true
      run_model_training:
        description: "Run model training job"
        required: false
        default: true
      run_build_and_publish:
        description: "Run build and publish job"
        required: false
        default: true
  
  release:
    types: [created]
    branches: [main]
    tags: [ "v*.*.*" ]
jobs:
  data-processing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11.9"

    - name: Install dependences
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Process data
      run: |
        python src/data/run_processing.py \
        --input data/raw/house_data.csv \
        --output data/processed/cleaned_house_data.csv

    - name: Engineer features
      run: |
        python src/features/engineer.py \
        --input data/processed/cleaned_house_data.csv \
        --output data/processed/featured_house_data.csv \
        --preprocessor models/trained/preprocessor.pkl
    - name: Upload processed data
      uses: actions/upload-artifact@v5
      with:
        name: processed-data
        path: data/processed/featured_house_data.csv

    - name: Upload preprocessor
      uses: actions/upload-artifact@v5
      with:
        name: preprocessor
        path: models/trained/preprocessor.pkl

  model-training:
    needs: data-processing
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11.9"

    - name: Install dependences
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Download processed data
      uses: actions/download-artifact@v5
      with:
        name: processed-data
        path: data/processed
    - name: Set up MLflow
      run: |
        docker pull ghcr.io/mlflow/mlflow:latest
        docker run -d -p 5000:5000 \
        --name mlflow-server ghcr.io/mlflow/mlflow:latest \
        mlflow server --host 0.0.0.0 \
        --backend-store-uri sqlite:///mlflow.db \
        --default-artifact-root /tmp/mlruns

    - name: wait for MLflow to start
      run: |
        for i in {1..30}; do
            if curl -s http://localhost:5000/health | grep -q '"status":"healthy"'; then
              echo "MLflow is up and running"
              break
            fi
              echo "Waiting for MLflow to start..."
              sleep 2
            done
    - name: Train the model
      run: |
        mkdir -p models
        python src/models/train_model.py \
        --config configs/model_config.yaml \
        --data data/processed/featured_house_data.csv \
        --models-dir models \
        --mlflow-tracking-uri http://localhost:5000

    - name: Upload trained model
      uses: actions/upload-artifact@v5
      with:
        name: trained-model
        path: models/

    - name: Stop MLflow
      run: |
        docker stop mlflow-server
        docker rm mlflow-server
        docker rmi ghcr.io/mlflow/mlflow:latest
  build_and_push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Get short SHA
      id: slug
      run: echo "sha7=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_OUTPUT

     - name: Log in to Docker Hub
       uses: docker/login-action@v3
       with:
         username: ${{ vars.DOCKERHUB_USERNAME }}
         password: ${{ secrets.DOCKERHUB_TOKEN }}

     - name: Build and push Docker image
       uses: docker/build-push-action@v6
       with:
         context: .
         push: true
         tags: adelelmaghloub/house_price_app:latest,adelelmaghloub/house_price_app:${{ steps.slug.outputs.sha7 }}
