name: MLOps CI

on:
  workflow_dispatch:
    inputs:
      run_all:
        description: "Run all jobs"
        required: false
        default: true
      run_data_processing:
        description: "Run data processing job"
        required: false
        default: true
      run_model_training:
        description: "Run model training job"
        required: false
        default: true
      run_build_and_publish:
        description: "Run build and publish job"
        required: false
        default: true
  
  release:
    types: [created]
    branches: [main]
    tags: [ "v*.*.*" ]
jobs:
  data-processing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11.9"

    - name: Install dependences
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Process data
      run: |
        python src/data/run_processing.py \
        --input data/raw/house_data.csv \
        --output data/processed/cleaned_house_data.csv

    - name: Engineer features
      run: |
        python src/features/engineer.py \
        --input data/processed/cleaned_house_data.csv \
        --output data/processed/featured_house_data.csv \
        --preprocessor models/trained/preprocessor.pkl

    - name: Upload preprocessor
      uses: actions/upload-artifact@v5
      with:
        name: preprocessor
        path: models/trained/preprocessor.pkl


